<div class="main-div">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Create user</mat-card-title>
      <mat-card-subtitle>Create a new user</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <form (ngSubmit)="createUser()" #newPlayerForm="ngForm">
        <div mat-dialog-content>

          <mat-input-container>
            <input matInput placeholder="Username" [(ngModel)]="userName" name="usernameInput" required>
          </mat-input-container>

          <div>
            <mat-input-container class="row">
              <input matInput placeholder="Password" [(ngModel)]="password" name="passwordInput" type="password" required>
            </mat-input-container>
          </div>
        </div>
        <mat-dialog-actions>
          <button mat-button mat-raised-button color="accent" type="submit" [disabled]="!newPlayerForm.form.valid">Create user</button>
        </mat-dialog-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
