/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

* {
  transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

mat-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.brand-icon {
  margin-right: 0.4em;
}

mat-card {
  margin: 1em;
}
